body{
margin:0px;
padding:0px;
}


#wrapper
{
margin:0px;
padding:0px;
}

#top
{
background-color:#f1f3f2;
color:black;
height:61px;
}

#top a.logo
{
	margin-top:0px;
	margin-left:41px;
	background:url(images/logo.jpg) no-repeat;
	width:165px;
	height:85px;
	float:left;
}

#top li
{
list-style:none;
float:right;
padding:0px;
margin-right:42px;
}

#top a
{
text-decoration:none;
color:black;
}

#banner
{
background-color:#8eb92a;

height:261px;
}

#a
{
margin-left:41px;
margin-right:41px;
}

#b
{
padding-top:20px;
}



#main
{
background-color:white;
margin-right:52px;
height:1072px;
}

#aa
{
height:192px;
background-color:#ffffff;
padding-left:49px;
padding-right:42px;
}

#aa  a
{
text-decoration:none;
}

#i
{
float:left;
}

#ii
{
float:left;
padding-left:50px;
padding-right:50px;
}

#iii
{
float:left;
padding-right:50px;
}

#iv
{
float:left;
padding-right:50px;
}

#v
{
padding-right:30px;
float:left;
}

#vi
{
float:left;
padding-right:13px;
}

#x
{
padding-right:23px;
float:left;
}

#y
{
float:left;
}

#y a
{
text-decoration:none;
}

#bb
{
height:887px;
padding-left:33px;
padding-right:
}

#cc
{
float:right;
HEIGHT:887PX;
}

#bottom
{
background-color:#77ae01;
padding-left:31px;
padding-top:45px;
padding-bottom:53px;
height:108px;
}

